*{
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
}
body{
    height: 100vh;
}
.background-gradient{
    position: fixed;
    height: 100vh;
    z-index: -1;
}
.card-front{
    position: fixed;
    top: 20%;
    left: 10%;
}
.card-front img{
    position: absolute;
}
.card-front h1{
    position: fixed;
    padding-top: 1rem;
    padding-left: 1rem;
}
.card-front h2{
    position: fixed;
    padding-top: 8rem;
    padding-left: 3rem;

    font-size: 32px;
    font-weight: 400;
    color: white;
}
.card-front h3{
    position: fixed;
    padding-top: 12rem;
    padding-left: 3rem;

    font-weight: 400;
    color: white;
}
.card-front h4{
    position: fixed;
    padding-top: 12rem;
    padding-left: 22rem;

    font-weight: 400;
    color: white;
}
.card-back{
    position: fixed;
    top: 50%;
    left: 20%;
}
.card-back img{
    position: absolute;
}
.card-back-text h1{
    position: fixed;
    padding-top: 6.7rem;
    padding-left: 22.5rem;

    font-size: 20px;
    font-weight: 400;
    color: white;
}

/* FORM STYLE */

.container {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 60px;
    border: 5px solid red;
}
.container form{
    position: absolute;
    right: 25rem;
    padding: 20px;
    width: 400px;
}
.container form .inputBox{
    padding: 15px;
}
.container form .inputBox span{
    display: block;
    color: #999;
    padding-bottom: 5px;
}
.container form .inputBox input{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.3);
    color: #444;
}
.container form .flexbox{
    display: flex;
    gap: 1rem;
}
.container form .flexbox .inputBox{
    flex: 1 1 150px;
}
